.content {
  padding: 32px 32px 0 32px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.activeLightMode {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.activeDarkMode {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
